*{
    margin:0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
    
}
body{
    background-color: #71d7e7;
}
.container{
    background-color: rgb(207, 198, 198);
    max-width: 600px;
    text-align: center;
     padding: 20px;
     box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
     margin: 20px auto;
     margin-top: 40px;
     border-radius: 5px;
}
form{
    display:flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
form input[type="text"]{
padding: 10px;
font-size: 18px;
width: 60%;
border: none;
border-radius: 10px;
}
form input[type="submit"]{
    border: none;
    background-color: #c0645a;
    color: white;
    font-size: 18px;
     border-radius:10px ;
     width: 39%;
     padding: 10px;
     transition: all 0.2s ease-in;
     cursor: pointer;
}
form input[type="submit"]:hover{
    background-color: #7d3d35;
}
.icon > img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    }
.temp{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 20px;
}
.desc{
font-size: 30px;
font-weight: 700;
margin-top: 10px;
margin-bottom: 20px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.details>div{
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    flex: 1;
}

